header.container
    .header_container
        button.burger.header_burger(type="button" data-burger)
            span.burger_open
            span.burger_close
        .header_logo-container
            if (pageMain)
                span.logo
                    img.logo_img(src="img/svg/logo.svg" alt="Логотип" width="40" height="40")
                    span.logo_text BuhOne
            else
                a(href="main.html").header_logo.logo
                    img.logo_img(src="img/svg/logo.svg" alt="Логотип" width="40" height="40")
                    span.logo_text BuhOne
        ul.header_list
            li.header_list-item
                a.info-item(href="tel: +71112223344")
                    img.header_list-img(src="img/svg/smartphone.svg" alt="смартфон" width="10" height="18")
                    span.info-item_text.laptop-hide 8 (111) 222-33-44
            li.header_list-item.header_list-item--time
                .info-item
                    img.header_list-img(src="img/svg/clock.svg" alt="часы" width="17" height="17")
                    span.info-item_text Пн-Пт 10:00-18:00
            li.header_list-item
                a.info-item(href="mailto:order@buhone.ru")
                    img.header_list-img(src="img/svg/envelope.svg" alt="конверт" width="23" height="17")
                    span.info-item_text.laptop-hide order@buhone.ru
            li.header_list-item
                a.info-item(href="https://yandex.ru/maps/2/saint-petersburg/house/nevskiy_prospekt_130/Z0kYdQFmTkEHQFtjfXVycXhqYA==/?indoorLevel=1&ll=30.366707%2C59.930189&z=16" target="_blank")
                    img.header_list-img(src="img/svg/location-pin.svg" alt="местоположение" width="17" height="17")
                    span.info-item_text.laptop-hide Невский пр. 130
        .header_nav(data-burger-menu)
            nav.nav
                a.nav_link(href="main.html") Главная
                a.nav_link(href="services.html") Услуги
                a.nav_link(href="services.html") Кейсы
                a.nav_link(href="about.html") О компании
                a.nav_link(href="#") Контакты
