.laptop-hide {
    @include vp-1024 {
        display: none;
    }
}

.color {
    &-white {
        color: var(--color-default-white);
    }

    &-blue {
        color: var(--color-blue);
    }
}

.bg-color {
    &-gray {
        background-color: var(--color-grey);
    }
}

.no-scroll {
    overflow: hidden;
}

.paragraph {
    font-size: 1.8rem;

    @include vp-768 {
        font-size: 1.6rem;
    }

    & + p {
        margin-top: 1.5rem;
    }
}

.height-100 {
    height: 100%;
}
