div.grid-3
    - for (var i = 0; i < 6; ++i) {
        a(href="#").service-card
            img.service-card_img(src="img/sky-skraper.png", alt="небоскреб")
            .service-card_content
                h3.service-card_title Бухгалтерская
                    br
                    | услуга 1
    - }
