section.content
    .container
        .slider
            a(href="#").crumbs-link Отзывы
            h2.title.slider_title Ваши благодарности
            .swiper(data-slider)
                .swiper-wrapper
                    - for (var i = 0; i < 4; ++i) {
                        .swiper-slide.slider_slide
                            .quote.height-100
                                p.paragraph Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                .person-info.quote_person-info
                                    img.person-info_img(src="img/person.png", alt="Екатерина Иванова" width="80" height="80")
                                    .person-info_container
                                        h4.person-info_title Екатерина Иванова
                                        span.person-info_text Директор ООО “Раз-два”
                    - }
                .slider_container
                    .swiper-pagination.slider_pagination.slider_pagination--blue
                    .slider_buttons
                        button.swiper-button-prev.slider_button.slider_button--blue.slider_button--prev
                            img.slider_button-img(src="img/svg/slider-arrow-left.svg" alt="назад" width="8" height="15")
                        button.swiper-button-next.slider_button.slider_button--blue.slider_button--next
                            img.slider_button-img(src="img/svg/slider-arrow-right.svg" alt="вперед" width="8" height="15")

